package ${package.Controller};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.web.bind.annotation.*;
import javax.annotation.Resource;
import java.util.List;

import $!{package.Service}.$!{table.serviceName};
import ${package.Entity}.${entity};
import ${package.Common}.Result;


#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Resource
    private ${table.serviceName} ${table.entityPath}Service;

    @GetMapping
    public List<${entity}> findAll(){
        return ${table.entityPath}Service.list();
    }

     @GetMapping("/{id}")
     public ${entity} findOne(@PathVariable Integer id){
         return ${table.entityPath}Service.getById(id);
     }

    @PostMapping
    public Result save(@RequestBody ${entity} ${table.entityPath}){
        if(${table.entityPath}Service.saveOrUpdate(${table.entityPath})){
             return Result.success();
        }else{
             return Result.error(Constants.CODE_600, "保存失败");
        }
    }

    @DeleteMapping("/{id}")
    public Result delete(@PathVariable Integer id){
        if(${table.entityPath}Service.removeById(id)){
        return Result.success();
        }else{
        return Result.error(Constants.CODE_600, "删除失败");
        }
    }

    @PostMapping("/del/batch")
    public Result deleteBatch(@RequestBody List<Integer> ids){
        return Result.success(${table.entityPath}Service.removeByIds(ids));
    }

    @GetMapping("/page")
    public Result findPage( @RequestParam Integer pageNum,
                            @RequestParam Integer pageSize) {
        QueryWrapper<${entity}> queryWrapper = new QueryWrapper<>();
        queryWrapper.orderByDesc("id");
        return Result.success(${table.entityPath}Service.page(new Page<>(pageNum, pageSize), queryWrapper));
    }
}

#end